.chart {
  margin-top: 1rem;
  height: auto;
  background-color: var(--chart-background-color);
}

.chart__column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.chart__column__count {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.375rem;
  
  rotate: x 180deg;
  padding-right: 0.15rem;
  
  white-space: pre-wrap;
}

.chart__wrapper {
  display: flex;
  margin: auto;
  rotate: x 180deg;
  gap: 0.25rem;
  
  width: auto;
  max-width: 100%;
  
  padding-bottom: .5rem;
  
  overflow-x: auto;
  scrollbar-color: #87cefa white;
  scrollbar-width: thin;
}

#chart__turnaround {
	color: white;
	transition: color .5s ease;
	-moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    -webkit-transition: color .5s ease;
}

.chart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#chart__warning {
	background-color: pink;
	outline: solid;
	outline-width: 1px;
	outline-color: red;
	color: red;
	font-size: 16px;
	width: 60%;
	padding: 1.5rem;
	border-radius: 1rem;
}
