* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: sans-serif;
  background: #14114e;
  padding-block: 1rem;
}

button {
  border: none;
  cursor: pointer;
}

fieldset {
  all: inherit;
  padding: 0;
}
