.memory-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .disk-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .ram-container {
    flex: 1;
    margin-left: 20px;
  }
  