.logo {
  width: 10%;
  height: 100%;
}

.column {
  margin-inline: auto;
}

#root {
	height: 90%;
}

.main__window {
  width: 80%;
  height: 90%;
  
  margin: 5% 10% 5% 10%;
  
  outline-style: solid;
  outline-color: #291e67;
  border-radius: 1rem;
  padding: 1%;
  
  overflow:auto;
  scrollbar-color: #87cefa white;
  scrollbar-width: thin;
  
  background-color: #fff;
  box-shadow: 0px 0px 64px;
}

.main__window form {
	display: flex;
	flex-direction: row;
}

.main__header__wrapper {
	display: flex;
	flex-direction: column;
}

.main__header {
	display: flex;
	flex-direction: column;
}
