.logo {
  display: block;
  max-width: 10%;
  max-height: 100%;
  min-height: 125px;
  min-width: 125px;
  width: auto;
  height: auto;
}

.column {
  margin-inline: auto;
}

#root {
  height: 90%;
}

.main__window {
  width: 80%;
  height: 90%;

  margin: 5% 10% 5% 10%;

  outline-style: solid;
  outline-color: #291e67;
  border-radius: 1rem;
  padding: 1%;

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #87cefa white;
  scrollbar-width: thin;

  background-color: #fff;
  box-shadow: 0px 0px 64px;
}

.main__header__wrapper {
  display: flex;
  flex-direction: column;
}

.main__header {
  display: flex;
  flex-direction: column;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  align-items: center;
}

#buttons button {
	width: 40%;
	height: 100px;
	
	font-size: 24px;
	
	outline-style: solid;
	outline-color: #000000;
	outline-width: 1px;
	
	border-radius: 1rem;
}

#button__run {
	background-color: #4CFF50;
}

#button__run:hover {
	background-color: #4CDF50;
}

#button__run:disabled {
	background-color: #4CAF50;
	color: #5b525b;
}

#button__reset {
	background-color: #ff4336;
}

#button__reset:hover {
	background-color: #df4336;
}

#button__reset:disabled {
	background-color: #bf4336;
	color: #5b525b;
}
