.large-box {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 0px auto;
  padding: 5px 2px;
  flex-wrap: wrap;
}

.close-btn {
  justify-content: flex-end;
  padding: 7px;
  color: #fff;
  border: none;
  border-radius: 1000px;
  line-height: 1;
  background-color: #ff5555;
  cursor: pointer;
  &:hover {
    background-color: red;
  }
}

.block {
  background-color: #b3ffb3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

/* Estilos para o título dentro do bloco */
.block h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para o texto dentro do bloco */
.block p {
  color: #666666;
  font-size: 16px;
  line-height: 1.5;
}
